**/__pycache__
**/*.pyc
**/*.pyo
*.pyd

.venv/
__pycache__/
node_modules/

.vscode/
.idea/
.github
.gitignore
README.md
pytest.ini
LICENSE

*.log
*.bak
*.swp

tests/

.coverage
htmlcov/

.env.*
docker-compose.yml
docker/
.dockerignore

.DS_Store
Thumbs.db
