services:
  speech-transcription-api:
    build:
      context: .
      dockerfile: docker/Dockerfile # docker/Dockerfile.cuda for CUDA build
    container_name: speech-transcription-api
    image: speech-transcription
    ports:
      - "127.0.0.1:8000:8000"
    env_file:
      - .env
    depends_on:
      - speech-transcription-postgres
    networks:
      - speech-transcription-network
    #deploy:
    #  resources:
    #    reservations:
    #      devices:
    #        - driver: nvidia
    #          capabilities: ["gpu"]
    #          device_ids: ["0"]

  speech-transcription-postgres:
    image: postgres:15
    container_name: speech-transcription-postgres
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "127.0.0.1:5432:5432"
    networks:
      - speech-transcription-network
    volumes:
      - speech-transcription-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  speech-transcription-migrate:
    build:
      context: .
      dockerfile: docker/Dockerfile.migrate
    image: speech-transcription-migrate:latest
    container_name: speech-transcription-migrate
    env_file:
      - .env
    networks:
      - speech-transcription-network
    depends_on:
      speech-transcription-postgres:
        condition: service_healthy
    restart: no

networks:
  speech-transcription-network:
    external: true

volumes:
  speech-transcription-data:
    name: speech-transcription-data
